# Virtual environments
venv/
*.venv
.venv/
ENV/

# Python stuff
__pycache__

# React stuff
node_modules
frontend/build

# ENV files
*.env*

# VSC stuff
.vscode/

# Archive files
*.tar
*.sql

# Alembic versions
backend/alembic/versions

# SSL files (on prod)
*.pem
*.key
*.crt